@model Book
@{
    ViewBag.Title = "Add Book";
}
<h2>Add New Book</h2>
@using (Html.BeginForm())
{
    <p>Title: @Html.TextBoxFor(m => m.Title)</p>
    <p>Author: @Html.TextBoxFor(m => m.Author)</p>
    <p>Description: @Html.TextAreaFor(m => m.Description)</p>
    <button type="submit">Add Book</button>
}
