@model IEnumerable<OnlineBookCatalogingSystem.Models.Book>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>


<div class="container mt-4">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-3 mb-4">
                <div class="card h-100 text-center">
                    <img src=" @Html.DisplayFor(model => item.CoverImageUrl)" class="card-img-top mx-auto d-block" alt="cover" style="width: 90%; height: 100px; background-color: gainsboro; margin-top: 15px;" />
                    <div class="card-body text-start">
                        <p class="card-title mb-1 lh-1 h5">@Html.DisplayFor(model => item.Title)</p>
                        <p class="fst-italic">@Html.DisplayFor(Model => item.Genre)</p>
                        <div class="lh-sm">
                            <p class="mb-1 fw-bold">Description</p>
                            <p class="mb-0">
                                @{
                                    var desc = item.Description;
                                    var shortDesc = desc.Length > 200 ? desc.Substring(0, 200) + "..." : desc;
                                }
                                @shortDesc
                            </p>
                        </div>

                        
                    </div>
                </div>
            </div>
        }
    </div>
</div>

